@import "tailwindcss";

@plugin '../app/hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant light (&:is(.light *));

body {
  font-family: 'Inter Variable', sans-serif;
  @apply bg-neutral-50 text-neutral-950;
}

:root {
  --primary: oklch(0.541 0.281 293.009);
}

@theme inline {
  --color-primary: var(--primary);
}
